.App {
  background-color: coral;
  width:320px;
  margin-top: 50px;
  margin-left: 550px;
  border-radius: 20px;
}

.buttons {
  font-size: 25px;
  margin: 10px;
  width: 60px;
  /* height: 100px; */
  height: 60px;
  color: dodgerblue;
  background-color: aquamarine;
  border: 0;
  border-radius: 10px;
}

.disp {
  margin-top: 20px;
  background-color: rgb(158, 135, 135);
  text-align: center;
  width: 265px;
  height: 50px;
  font-size: 30px;
  margin-left: 25px;
  border: 0;
  border-radius: 10px;
}

.equals {
  font-size: 30px;
  width: 140px;
  height: 60px;
  border: 0;
  color: dodgerblue;
  border-radius: 30px;
  background-color: rgb(66, 228, 17);
}